$fonts-headline: "font-family: 'Jua', sans-serif";
$fonts-body: "font-family: 'Poppins', sans-serif";
$background-color: #e8dcb8;
$primary: #9D9849;
$accent1: #b0916e;
$accent2: #5a2c1b;
$grey-sidebar: #CD945A;
$text-dark: black;
$text-light: #fff;
